<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="bg-primary">
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center  ">
            <div class="valve col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow ">
                <div>
                    <h3 class="row justify-content-center ">Login Here</h3>
                </div>


                <form action="/login" method="post">
                    <div class="mb-4">
                        <label class="form-label" for="email">Email Address</label>
                        <input type="email" name="Email" class="form-control" id="login_email">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" class="form-control" name="Password" id="login_password">
                    </div>

                    <div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-labe" for="remember me">Remember me</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-25 align-items-center ">Log in</button>
                    
                        </div>
                        
                    </div>

                </form>
            </div>

        </div>
    </div>

</body>

</html>