<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light " href="#">Social Media</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <a href="/logout" class="btn btn-info">Logout</a>
                </form>
            </div>
        </div>
    </nav>


    <div class="row">
      
    </div>

    <div class="row">
        <div class="container mt-5">
            <div class="container-fluid">
              <div class="mb-5 ms-1">
                <h5>Major Social Media platform</h5>
              </div>
                 
                <div class="row row-cols-1 row-cols-md-4 g-4"> <!--1-->
                    <div class="col">
                      <div class="card h-100">
                        <img src="https://cloudfront-us-east-2.images.arcpublishing.com/reuters/OGGLXAIY4ZLCFGM3NYFG37OXRQ.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Facebook</h5>
                          <p class="card-text">Facebook is an American online social media and social networking service owned by Meta Platforms. Founded in 2004 by Mark Zuckerberg</p>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col">         <!--2-->
                      <div class="card h-100">
                        <img src="https://i2-prod.mirror.co.uk/incoming/article24083967.ece/ALTERNATES/s615/0_FILES-US-HEALTH-VIRUS-IT-FACEBOOK-INSTAGRAM.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Instagram</h5>
                          <p class="card-text">Instagram is an American photo and video sharing social networking service founded in 2010 by Kevin Systrom and Mike Krieger, and later acquired by Facebook</p>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col">           <!--3-->
                      <div class="card h-100">
                        <img src="https://www.aljazeera.com/wp-content/uploads/2021/07/AP21201427922704.jpg?resize=770%2C513" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Twitter</h5>
                          <p class="card-text">Chicago, officially the City of Chicago, is the most populous city in the U.S. state of Illinois, and the third-most populous city in the United States, following New York City and Los Angeles.</p>
                        </div>
                        
                      </div>
                    </div>
                    
                        <div class="col">    <!--4-->
                          <div class="card h-100">
                            <img src="https://static01.nyt.com/images/2021/06/08/business/08OnTech-YouTube-VideoStill/08OnTech-YouTube-VideoStill-videoLarge-v2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Youtube</h5>
                              <p class="card-text">YouTube is an American online video sharing and social media platform headquartered in San Bruno, California. It was launched on February 14, 2005</p>
                            </div>
                            
                          </div>
                        </div>
                  </div>




                  <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
                    <div class="col">                     <!--5-->
                      <div class="card h-100">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFhtdONYQ6cKMvFbq659Pds_n9yQPJdIZ8MkZi4cNegtdduYb4w9VVT6Fw0Qw-PanR4vs&usqp=CAU  " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Whats app</h5>
                          <p class="card-text">It allows users to send text messages and voice messages, make voice and video calls, and share images, documents, user locations, and other content.</p>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col">           <!--6-->
                      <div class="card h-100">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/6063d051926c75ddb9a9cbd7/In-this-photo-illustration-a-LinkedIn-logo-of-business-and---/960x0.jpg?format=jpg&width=960" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Linked in</h5>
                          <p class="card-text">LinkedIn is an American business and employment-oriented online service that operates via websites and mobile apps. Launched on May 5, 2003</p>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col">               <!--7-->
                      <div class="card h-100">
                        <img src="https://neilpatel.com/wp-content/uploads/2016/01/pinterest.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pinterest</h5>
                          <p class="card-text">This service designed to enable saving and discovery of information on the internet using images, and on a smaller scale, animated GIFs and videos, in the form of pinboards.</p>
                        </div>
                        
                      </div>
                    </div>
                    
                        <div class="col">           <!--8-->
                          <div class="card h-100">
                            <img src="https://i.gadgets360cdn.com/large/telegram_logo_dima_solomin_unsplash_1640933672041.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Telegram</h5>
                              <p class="card-text">Telegram is a freeware, cross-platform, cloud-based instant messaging (IM) service. The service also provides end-to-end encrypted video calling, VoIP etc</p>
                            </div>
                            
                          </div>
                        </div>
                  </div>


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>